body {
  background-color: #282c34 !important;
}

.App {
  text-align: center;
  height: 100vh;
  font-family: 'Courier New';
  background-color: #282c34;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 10vh;
  margin: 0;
}

.caption {
  color: white;
  font-size: 20;
  padding-top: 10px;
}

.vis-container {
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.bar-graph-container{
  width: 600px;
  height: 600px;
  font-family: 'Courier New';
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  
}
.container {
  display: flex;
  align-items: flex-start;
  font-family: 'Courier New';
  padding-bottom: 50px;
}

