body {
  background-color: #282c34;
}

.App {
  text-align: center;
  height: 100vh;
  font-family: 'Courier New';
  background-color: #282c34;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 10vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Courier New';
}
